/* normal css sidebar styling for anypage under 1200 px */
@media (max-width: 1200px) {
    .sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 55px;
      background-color: white;
      width: 72px;
      z-index: 200;
      border-right: 1px solid rgb(228, 228, 228);
      padding-top: 5px;
    }

    .sidebar-link {
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .sidebar-link:hover {
      background-color: rgb(236, 236, 236);
      cursor: pointer;
    }

    /* This targets all images in this class. A space means all 2nd arguments in the first argument. */
    .sidebar-link img {
      height: 24px;
      margin-bottom: 4px;
    }

    .sidebar-link div {
      font-family: Roboto, arial;
      font-size: 10px;
    }
  }

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 275px;
    z-index: 120;
    border-right: 1px solid rgb(228, 228, 228);
    background-color: white;
    padding-top: 25px;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: white;
  }

  .sidebar img {
    height: 24px;
    width: 26%;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 14px;
    margin-left: -3px;
  }

  body {
   padding-left: 301px; 
  }

}
