.thumbnail {
  width: 100%;
}

.video-time {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 8px;
  right: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
}


.video-preview {
  /* width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px; 
  We don't need these styles because the grid takes care of all of this for us.
  */
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* Changes the height of the text */
  margin-bottom: 10px;
}

.video-title .video-link {
  color: black;
  text-decoration: none;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 25px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96)
}

.video-author {
  margin-bottom: 4px;
}


.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* Media query below here */
/* This code here with @media will only active if the screen size is 600px or less */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* activates if screen is bigger than 1000px */
/* Increase the font-size and line-height when the page is > 1000px wide */
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
  }
}

.channel-picture {
  position: relative;
  height: 100%;
}


.channel-picture .tooltip {
  display: flex;
  position: absolute;
  background-color: rgb(254, 254, 254);
  height: 80px;
  width: 225px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  border: none;
  top: 50px;
  left: 0;
  align-items: center;
  border-radius: 10px;
  padding: 2px 2px;
  z-index: 300;
  transition: opacity 0.15s;
  opacity: 0;
  pointer-events: none;
}

.channel-picture:hover .tooltip {
  opacity: 1;
}

.tooltip .profile-picture {
  height: 55px;
  width: 55px;
  border-radius: 35px;
}

.tooltip .tooltip-author-text {
  font-size: 17px;
  font-family: Roboto, Arial;
  font-weight: 500;
}

.tooltip-author-info {
  line-height: 25px;
}

.tooltip .tooltip-subscribers {
  font-size: 15px;
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
}

.tooltip-channel-picture {
  width: 70px;
  display: flex;
  justify-content: center;
}

.tooltip-author-info {
  width: 155px;
}
