p {
  font-family: 'Tajawal', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}


.title-video {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  width: 200px;
  line-height: 24px;
}

.video-desc {
  font-size: 30px;
  margin-bottom: 40px;
}

.apple-text {
  background-color: rgba(238, 16, 208, 0.5);
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
  width: 400px;
}

.span-example {
  color: blue;
  cursor: pointer;  
}

.span-example:hover {
  text-decoration: underline

}